* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Refonte */
.navbar {
    animation-name: slideFromTop;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    opacity: 0;
}

#home {
    background-color: #f2f2f2;
    animation-name: slideFromLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 0.9;
    }
}

#search {
    animation-name: slideFromTop;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes slideFromTop {
    from {
        transform: translatey(-100%);
        opacity: 0;
    }
    to {
        transform: translatey(0);
        opacity: 1;
    }
}

.desc {
    animation-name: opacityOn;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes opacityOn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.albumCard {
    transition: opacity 0.5s ease-in-out;
}

.animation {
    font-size: 0.8rem;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

/* Fin refonte */



body,
html {
    min-height: 100vh;
    font-family: 'Alice', serif;
}

h2, h3, h5 {
    color : white;
}

body {
    margin: auto;
    overflow: auto;
    background: url(../images/background-concert.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0) 100%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 15s linear reverse infinite;
    opacity: 0.2;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.5;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-18%);
    }

    32% {
        transform: translateX(-50%);
    }

    25% {
        transform: translateX(-34%);
    }

    3% {
        transform: translateX(1);
    }
}

.card p {
    margin-bottom: 1px !important;
}

#artistImage {
    display: none;
}


.btn-submit {
    border: none;
    background-color: rgb(113, 113, 113);
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 0 40px 40px rgb(180, 180, 180) inset, 0 0 0 0 rgb(180, 180, 180);
    transition: all 150ms ease-in-out;
    border-radius: 5px;
}

.btn-submit:hover {
    box-shadow: 0 0 10px 0 rgb(180, 180, 180) inset, 0 0 10px 4px rgb(180, 180, 180);
}

.no-outline:focus {
    outline: none;
    box-shadow: none;
}

.card {
    width: 18rem;
}

.nameArtist {
    font-size: 2em;
    color : white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 15px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgb(172, 172, 172);
}

span.close {
    width: 10%;
    display: flex;
    justify-content: center;
    color: #000000;
    float: right;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #7c0c0c;
    text-decoration: none;
    cursor: pointer;
}


.volume-controls {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.volume-controls i {
    margin: 0 5px;
    cursor: pointer;
}

.volume-controls input[type="range"] {
    flex: 1;
}

.text-container {
    overflow: hidden;
    width: 100%;
}

.animation {
    animation: animate 8s linear infinite;
    overflow: hidden;
}

@keyframes animate {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.desc img {
    border-radius: 50% 20% / 10% 40%;
}

.labelAlbum {
    color: rgba(119, 0, 0, 0.537);
}

table {
    background-color: rgb(240, 240, 240);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    animation-name: slideFromBack;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes slideFromBack {
    from {
        transform: translatey(100%);
        opacity: 0;
    }
    to {
        transform: translatey(0%);
        opacity: 1;
    }
}



/* .table>:not(caption)>*>* {
    border-bottom-width: 0;
} */

.btn-play {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.2s ease;
}


.btn-play:active {
    transform: scale(0.9); 
}


.btn-play:focus {
    outline: none; 
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.btn-play i {
    color: #000;
    font-size: 18px;
}

.btn-stop {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.2s ease;
}


.btn-stop:active {
    transform: scale(0.7); 
}


.btn-stop:focus {
    outline: none; 
}


.btn-stop i {
    color: #000;
    font-size: 18px;
}

.current-track {
    background-color: rgb(99, 99, 99) !important;
    color : white;
}